*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 24px;
}
.modal {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: lightgrey;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  height: 3vh;
  max-width: 11rem;
}

.modal p {
  color: var(--clr-red-dark);
}
@media only screen and (max-width: 767px) {
  .modal {
    min-width: 11rem;
  }
}
